/*// David Trejo 
  // dtrejo.com
  //*/
  
body {
	background: #B0B4BD url("images/background.png");
	overflow-x: hidden; 
}

#wrapper{width:100%;}

#highlight {
	top: 2px;
	width: 1158px;
	min-height: 897px;
	background: url("images/bg_center_highlight.png") no-repeat;
	margin: 0 auto;
	margin-bottom: -897px;
}

#content{position:relative;min-height:800px;}

.font, td {
  font-family: 'Josefin Sans Std Light', Arial, "Trebuchet MS", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em;
}

.font a{
  text-shadow: 0px 1px 1px #000;
  color: #222;
  text-decoration: none;
}

td{text-align:center;}
td.quote:after{content:"'";}

table {
  background-color:#111;
  text-shadow: 0px 1px 1px #000;
  color: #333;
  padding: 3em;
}

.light{
  color:#fff;
  text-shadow: 0px 0px 5px #fff;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
}

.words{margin:3em auto 0;}

.dots{
  margin: 0em auto;
  color: #111;
  text-align:center;
}

/*topleft,topright*/
.dot,.dot + .dot{position:relative;top:9em;}
.dot{left:-11em;}
.dot + .dot{left:13em;}

/*botleft, botright*/
.dot + .dot + .dot,.dot + .dot + .dot + .dot{top:33em;}
.dot + .dot + .dot{left:-13em;}
.dot + .dot + .dot + .dot{left:11em;}

pre{width:12em;margin:3em auto 0;}
.hide{display:none;}
.dtrejo{text-align:center;position:relative;top:-3em;}

/*Royal purple selection :)*/
::-moz-selection{background:#6B3FA0;}
::selection{background:#6B3FA0;}
code::-moz-selection{background:#6B3FA0;}
code::selection{background:#6B3FA0;}

/* ITLISASTIME
   ACQUARTERDC
   TWENTYFIVEX
   HALFBTENFTO
   PASTERUNINE
   ONESIXTHREE
   FOURFIVETWO
   EIGHTELEVEN
   SEVENTWELVE
   TENSEOCLOCK */
